*{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
}
.header{
    min-height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(images/classroom1.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-and-text {
    display: inline-block;
    margin-left: 1%;
    margin-top: 1%;
    text-align: left;
}

.logo-and-text a img{
    height: 50px;
    float: left;
    vertical-align: middle;
}

.logo-and-text span{
    font-size: 40px;
    line-height: 50px;
    padding-left: 5px;
    display: inline-block;
    color: #fff;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 0px 8px;
    position: relative;
}

.nav-links ul li a{
    text-decoration: none;
    font-size: 16px;
    color: #fff;
}

.nav-links ul li::after{
    content:'';
    width: 0%;
    height: 2pt;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%
}

#mobilemenu {
    display: none;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.text-box{
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

.text-box h1{
    font-size: 3rem;
}

.text-box .med-text{
    font-size: 18px;
}

.text-box .large-text{
    font-size: 1.25rem;
    margin-left: 20%;
    margin-right: 20%;
}

.hero-btn{
    margin-top: 30px;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    padding: 12px 20px;
    font-size: 1rem;
    background: transparent;
    position: relative;
    cursor: pointer;
    font-weight: 500;
}

.hero-btn:hover{
    border: 2px solid #f44336;
    background: #f44336;
    transition: 0.8s
}

.tournament .text .hero-btn {
    margin-top: -2vw;
    border-color: #555;
    margin-left: 2vw;
}

/* ----- courses ----- */

.courses{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.courses h1{
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 20px;
}

.row{
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
}

.row.btn {
    display: flex;
    justify-content: center;
}

.row.btn .content {
    margin-right: 1vw;
    margin-top: -2vw;
}

.row.btn .content .hero-btn {
    color: black;
    border-color: #555;
    flex-basis: 10%;
}

.course-col{
    flex-basis: 31%;
    background: #eeeffc;
    border-radius: 10px;
    margin-bottom: 0%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.6s;
}

.course-col h3{
    color: #555;
    text-align: center;
    font-weight: 500;
    font-style: italic;
    margin: 10px 0;
}

.course-col ul li {
    text-align: left;
}

.course-col h1{
    font-size: 28px;
}

.course-col h1 a{
    text-decoration: none;
    color: inherit;
}

.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

.what-is-go {
    width: 80%;
    margin: auto;
    padding-top: 2rem;
    text-align: justify;
}

.why-learn-go {
    width: 80%;
    margin: auto;
    padding-top: 2rem;
    text-align: justify;
}

.text-left-img-right {
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    height: 23rem;
    align-items: center;
}

#email-link {
    color: black;
}

.text-left-img-right img {
    margin: 4rem 2rem;
    height: auto;
    width: auto;
    max-height: 15rem;
    max-width: 15rem;
}

.text-left-img-right .paragraph {
    padding-top: 1rem;
}

.text-left-img-right .content {
    padding: 0vh 1vh 1vh 4vh;
    display: flex;
    flex-direction: column;
    overflow: auto;
    margin: 2rem 2rem 0rem -2rem;
    max-height: 100%;
}

.text-left-img-right .title {
    font-size: 200%;
    font-weight: 500;
}

.text-left-img-right .row.btn a {
    margin-left: -2rem;
}

.text-left-img-right .row.btn {
    display: left !important;
    justify-content: left !important;
    margin-left: 2rem;
}

.text-left-img-right#team-info {
    background: linear-gradient(-45deg, #c6ffdd, #fbd786, #f7797d);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    margin-top: 2rem;
    height: 20rem;
}

.text-left-img-right#team-info-president {
    background: linear-gradient(-45deg, #f7797d, #c6ffdd, #fbd786);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    margin-top: 2rem;
    height: 20rem;
}

.text-left-img-right#team-info .title {
    font-size: 150%;
    font-weight: 400;
}

.text-left-img-right#team-info img {
    border-radius: 50%;
}

.text-left-img-right#team-info .team-position {
    font-style: italic;
    font-size:large;
}

.text-left-img-right#team-info .paragraph {
    padding-top: 0rem;
}


@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.locations{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.locations h1{
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 20px;
}

.locations-col{
    flex-basis: 45%;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.locations-col img{
    width: 100%;
    display: block;
    max-height: 50vh;
}

.locations-col a, .locations-col a:visited  {
    color: inherit;
    text-decoration: none;
    margin-bottom: 2%;
}

.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    transition: 1s;
}

.layer:hover{
    background: rgba(226,0,0,0.05);
}

.layer h3{
    width: 100%;
    font-weight: 500;
    color: black;
    font-size: 2rem;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 1;
    transition: 0.5s;
}

.layer:hover h3{
    bottom: 50%;
    opacity: 1;
}

.facils{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.facils h1{
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 20px;
}

.facils-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    position: relative;
    overflow: hidden;
    text-align: left;
}

.facils-col img{
    width: 100%;
    float: left;
    border-radius: 10px;
}

.facils-col p{
    padding: 0;
}

.facils-col h3{
    padding-top: 10px;
}

.cta{
    margin: 50px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(images/classroom1.png);
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    text-align: center;
    padding: 20px 0;
}

.cta h1{
    color: #fff;
    font-size: 40px;
}

.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.icons {
    margin-bottom: 30px;
}

.icons .fa{
    color: rgba(226,0,0,0.7);
    cursor: pointer;
    padding: 2px;
    font-size: 30px;
    margin: 10px 10px;
}

/* About us page */
.sub-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(images/classroom1.png);
    background-position: center;
    background-size: cover;
    position: relative;
    color: #fff;
}

/* Header of a subpage */
.sub-header h1{
    margin-top: 50px;
    font-size: 60px;
    font-weight: 500;
}

.sub-header p{
    font-size: 24px;
    font-weight: 400;
}

/* general sections in the webpage use this tag */
.main-content{
    padding: 2% 10%;
}

.main-content h1{
    margin-bottom: 20px;
    font-size: 32px;
    font-weight: 500;
}

.main-content h2{
    text-align: center;
    margin-bottom: 20px;
    font-size: 32px;
    font-weight: 500;
}

.main-content h3{
    margin-bottom: 5px;
    font-size: 24px;
    font-weight: 500;
}

.main-content p{
    font-size: 16px;
    margin-bottom: 20px;
    text-align: justify;
}

.main-content .hero-btn {
    margin-top: 1vh;
    border-color: #555;
    color: #222;
}

.header-more-space{
    margin-top: 50px;
    margin-bottom: 20px;
}

.locations-col iframe {
    width: 100%;
    margin-top: 20px;
    height: 50vh;
}

.locations-header{
    text-align: center;
    font-size: 28px;
    font-weight: 500;
}

/* contact us header */
.contact-button {
    flex-basis: 31%;
}

.contact-button.front .hero-btn {
    min-width: 5vw !important;
}

.contact-button div {
    display: flex;
    align-items: center;
    width: 100px;
}

/* Contact us content */
.contact-us {
    width: 80%;
    margin: auto;
}

.contact-col {
    flex-basis: 48%;
    margin-bottom: 30px;
}

.contact-col .contact-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 40px;
}

.contact-col .contact-info h5 {
    font-size: 20px;
    font-weight: 500;
}

.contact-col .contact-info .fa {
    color: rgba(0,0,0,0.7);
    font-size: 32px;
    margin: 5px;
    margin-right: 20px;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    font-size: 14px;
    padding: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    outline: none;
    border: 3px solid #ccc;
    box-sizing: border-box;
}

.contact-form input:focus, .contact-form textarea:focus {
    border: 3px solid #555;
}

#subscribe input {
    font-size: 14px;
    padding: 10px;
    margin: 5px 5px;
    outline: none;
    border: 3px solid #ccc;
    box-sizing: border-box;
}

#subscribe input:focus {
    border: 3px solid #555;
}

#subscribe .name {
    width: 15%;
}

#subscribe .email{
    width: 20%;
}

.hero-btn.submit {
    padding: 6px 10px;
    margin-top: 10px;
    color: black;
    border: 3px solid black;
    font-weight: 400;
    margin-top: 0px;
}

.hero-btn.submit:hover {
    background: rgba(226,0,0,0.3) !important;
}

.tuitions, .tuitions th, .tuitions td {
    border: 1px solid black;
}

.tuitions {
    width: 100%;
    text-align: center;
    vertical-align: center;
}

.table-wrapper {
    font-size: 16px;
    margin-bottom: 2rem;
}

.table-wrapper .tuitions {
    text-align: center;
    border-collapse: collapse;
    width: 100%;
}

.table-wrapper .tuitions td, .table-wrapper .tuitions th {
    border: 1px solid #ddd;
    padding: 0.5vh;
}

.table-wrapper .tuitions tr:hover {
    background-color: #ddd;
}

.table-wrapper .tuitions th{
    background-color: rgba(75, 119, 190, 0.1);
}

.table-wrapper .tuitions th, td {
    padding: 1vh 2vh;
}

.table-wrapper#camp {
    width: 50%;
}

.table-wrapper#bullet-table {
    text-align: left;
}

.table-wrapper#tournament-info {
    padding-left: min(10rem, 10%);
    padding-right: min(10rem, 10%);
}

ul {
   list-style-position: inside;
}

#title-text {
    width: 80%;
}
#title-text h1 a {
    color: inherit;
    text-decoration: none;
}

#youtube-team #row div{
    margin-top: 30px;
}

#youtube-team h2{
    margin-bottom: 20px;
}

#row .mem-col1 {
    flex-basis: 25%;
    margin: auto;
}

#row .mem-col2 {
    flex-basis: 70%;
}

.mem-id-table.dates-table {
    margin-bottom: 30px;
}

.mem-id-table {
    width: 100%;
}

.mem-col2 {
    text-align: left;
}

#lecture-schedule h1 {
    margin-top: 0px;
}

.membership-intro {
    margin-top: 30px;
    margin-bottom: 30px;
}


.tournament-list {
    width: 100%;
}

.tournament-list a, .tournament-list a:visited  {
    color: inherit;
    text-decoration: none;
    margin-bottom: 2%;
}

.tournament-list#past-tournaments {
    max-height: 25rem;
    overflow: scroll;
}

.tournament {
    text-align: left;
    background: #fff3f3;
    /* cursor: pointer; */
    margin: 5vh 0vh;
}

.tournament .title {
    display: flex;
    text-align: center;
    border-radius: 10px;
    padding: 25px;
}

.tournament .title h2{
    text-align: left;
}

.tournament .title .date {
    margin-top: -20px;
    font-size: 18px;
    font-weight: 400;
}

.tournament .title .img img {
    width: 8vw;
    border-radius: 50%;
    margin-right: 30px;
}

.tournament .title .fa {
    color: rgba(75, 119, 190, 0.8);
}

.tournament .title .fa-calendar {
    font-size: 16px;
}

.tournament .text p{
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    margin-top: -2vh;
}

.class-times p {
    margin: 0px 0px;
}

.camp-header {
    width: 100%;
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 2vh;
}

.camp-header img {
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
}

#prev-tourn {
    border-color: #555;
    margin: 0px 0px;
}

.instructions img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    max-height: 30vh;
    max-width: 80vw;
}
.instructions#setup img {
    max-height: 50vh;
}

.instructions .img-flex {
    display: flex;
}

.staff-info {
    width: 80%;
    margin-top: 4rem;
    margin: auto;
    text-align: justify;
}

/* Footer */
/* Begin */
.footer-distributed {
    background: #666;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
    width: 40%;
}

.footer-distributed .footer-center {
    margin-left: 2%;
    margin-right: -2%;
}

/* The company logo */

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px;
    margin: 0;
}

/* Footer links */
.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    font-weight: 400;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #222;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    font-weight: 400;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: lightseagreen;
    text-decoration: none;
    ;
}

.footer-distributed .footer-links a:before {
    content: "|";
    font-weight: 300;
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
    content: none;
}

/* Footer Right */

.footer-distributed .footer-right {
    width: 24%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #bec8d1;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;

    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;
}
/* Footer end */

@media only screen and (max-width: 700px) {
    .header-more-space{
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .hero-btn {
        font-size: 16px;
        font-weight: 500;
    }
    /* Resize the logo and text */
    .logo-and-text{
        z-index: 99;
        margin-left: 3%;
        margin-top: 3%;
    }
    .logo-and-text span {
        font-size: 20px;
        line-height: 25px;
    }

    .logo-and-text a img {
        height: 25px;
    }

    /* Sets navigation bar style */
    .nav-links ul li{
        display: block;
        font-size: 12px;
    }
    .nav-links{
        background-image: linear-gradient(rgba(4,9,30,0.9), rgba(4,9,30,0.9)), url(images/classroom1.png);
        background-position: center;
        background-size: cover;
        display: none;
        position: fixed;
        height: auto;
        width: 100vw;
        top: 0;
        text-align: center;
        z-index: 2;
        transition: 0.6s;
    }
    #mobilemenu{
        text-align: right;
        position: relative;
        display: block;
        color: #fff;
        margin: 2%;
        font-size: 20px;
        cursor: pointer;
        padding-right: 2%;
    }
    .nav-links ul li{
        padding: 2%;
    }

    /* Enable scrolling for long tables */
    .table-wrapper {
        overflow-x: scroll;
    }
    /* Prevents overflow of columns */
    .row{
        flex-direction: column;
    }

    .row.btn {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .row.btn .hero-btn {
        margin-top: 1rem;
        font-size: 13px;
    }

    .contact-button {
        margin: 5px 0px;
    }

    /* Reduce font size of texts */
    .cta h1{
        font-size: 20px;
    }

    .courses h3 {
        font-size: 12px;
    }

    .courses li {
        font-size: 11px;
    }

    #title-text {
         width: 90%;
    }

    #title-text p{
        font-size: 12px;
    }

    .facils h1 {
        font-size: 24px;
    }

    .locations h1 {
        font-size: 24px;   
    }

    .locations .row {
        height: 50vh;
    }

    .courses h1, #title-text h1 {
        font-size: 24px;
    }

    #row h1 {
        font-size: 20px;
    }

    #row h3 {
        font-size: 14px;
    }

    #row p {
        font-size: 12px;
    }

    #footer p{
        font-size: 12px;
    }

    #footer .fa {
         font-size: 28px;
        margin: 10px 2px;
     }

    #footer form input {
         width: 75% !important;
         font-size: 11px;
     }

    .main-content p{
        font-size: 12px;
    }

    .main-content h2{
        font-size: 20px;
    }

    .main-content h1 {
        font-size: 24px;
    }

    .main-content h3 {
        font-size: 16px;
    }

    .main-content li {
        font-size: 12px;
    }

    table {
        font-size: 11px;
    }

    .contact-info span h5 {
    font-size: 16px !important;
    font-weight: 500;
    }

    .contact-col div {
        margin-bottom: 10px;
    }

    .contact-col div .fa {
        font-size: 20px;
    }

    .mem-id-table {
        width: 200%;
    }
    .mem-id-table li {
        font-size: 10px;
    }

    .hero-btn.submit {
        padding: 6px 10px;
        font-size: 14px;
    }

    /* Makes padding smaller for buttons */
    .contact-button .hero-btn {
        padding: 6px 10px;
        margin-top: 0px;
    }

    .contact-form input, .contact-form textarea, .subscribe {

    font-size: 10px !important;
    }

    .membership-intro {
        width: 100%;
    }

    iframe {
        width: 100%;
        height: 30vh;
    }

    .contact-col h2 {
        font-size: 16px;
    }

    .tournament .title .date {
        font-size: 12px;
        font-weight: 400;
    }

    .facils img {
        display: none;
    }

    .text-left-img-right {
        flex-direction: column;
        height: 25rem;
    }
    .text-left-img-right img {
        max-height: 10rem;
        min-height: 10rem;
        margin-top: 3vh;
        margin-bottom: -3vh;
    }

    .text-left-img-right .row.btn a {
        margin-left: 0rem;
        overflow: hidden;
        padding-bottom: 1rem;
    }

    .text-left-img-right .paragraph {
        font-size: 11px;
    }

    .text-left-img-right .title {
        font-size: 20px !important;
        text-align: center;
    }

    .text-left-img-right .content {
        margin: 2rem 0.2rem 0rem 0rem;
        padding: 0vh 1vh 1vh 2vh;
    }

    .text-left-img-right#team-info .team-position {
        font-size: 14px !important;
        text-align: center;
        margin-top: -1vh;
        margin-bottom: 2vh;
    }

    .instructions .img-flex {
        flex-direction: column;
    }

    /* Footer */
    .footer-distributed {
        font: bold 14px;
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}